<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
<center><h1>Add a Gym</h1></center>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/gyms">Go Back To Gyms</a>
        </li>
    </ul>
</nav>
<center>
<form method = "POST">
    <input type="text" name="gymname" placeholder="Gym Name" required/>
    <label for="university">Choose a University:</label>
    <select name="university" id="university" required>
        <option></option>
        <option value="University of Illinois">University of Illinois</option>
        <option value="Rutgers">Rutgers</option>
        <option value="Northwestern">Northwestern</option>
        <option value="Purdue">Purdue</option>
        <option value="Ohio State">Ohio State</option>
        <option value="Penn State">Penn State</option>
        <option value="Michigan State">Michigan State</option>
        <option value="John Cena University">John Cena University</option>
        <option value="University of Indiana">University of Indiana</option>
        <option value="University of Iowa">University of Iowa</option>
        <option value="University of Maryland">University of Maryland</option>
        <option value="University of Michigan">University of Michigan</option>
        <option value="University of Minnesota">University of Minnesota</option>
        <option value="University of Nebraska">University of Nebraska</option>
        <option value="University of Wisconsin">University of Wisconsin</option>
        </select>
    <input type="text" name="capacity" placeholder="Capacity" required/>
    <label for="status">Status:</label>
    <select name="status" id="status" required>
        <option></option>
        <option value="UNKNOWN">UNKNOWN</option>
        <option value="OPEN">OPEN</option>
        <option value="CLOSED">CLOSED</option>
        </select>
    <input type="submit"/> 
    
</form>



</center>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="teamstatics" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Team Statistics
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/addgym">4th Down Conversions in 4th</a>
        <a class="dropdown-item" href="/">Tackles For Loss</a>
    </div>
  </div>
</body>