<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<center><h1>Sign Up</h1></center>
<nav>
    <ul>
        <li>
            <a href="/home">Home</a>
            <a href="/login">Go Back To Login</a>
        </li>
    </ul>
</nav>
<center>
<form method = "POST">
    <input type="text" name="firstname" placeholder="First Name" required/>
    <input type="text" name="lastname" placeholder="Last Name" required/>
    <input type="text" name="email" placeholder="Email Address" required/>
    <select name="university" id="university" required>
        <option value="">--Please choose a University--</option>
        <option value="University of Illinois">University of Illinois</option>
        <option value="Rutgers">Rutgers</option>
        <option value="Northwestern">Northwestern</option>
        <option value="Purdue">Purdue</option>
        <option value="Ohio State">Ohio State</option>
        <option value="Penn State">Penn State</option>
        <option value="Michigan State">Michigan State</option>
        <option value="John Cena University">John Cena University</option>
        <option value="University of Indiana">University of Indiana</option>
        <option value="University of Iowa">University of Iowa</option>
        <option value="University of Maryland">University of Maryland</option>
        <option value="University of Michigan">University of Michigan</option>
        <option value="University of Minnesota">University of Minnesota</option>
        <option value="University of Nebraska">University of Nebraska</option>
        <option value="University of Wisconsin">University of Wisconsin</option>
        </select>
    <input type="text" name="username" placeholder="Username" required/>
    <input class="input" type="password" name="password" placeholder="New Password" required>
    <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    <select name="CovidStatus" id="CovidStatus" required>
        <option value="">--Covid Status--</option>
        <option value="TRUE">TRUE</option>
        <option value="FALSE">FALSE</option>
    </select>
    <input type="submit"/> 
</form>

</center>