<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<center><h1>Find Availible Reservations</h1></center>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/gyms">Gyms</a>
            <a href="/PhysicalData">Physical Data</a>
        </li>
    </ul>
</nav>
<center>
<form method = "POST">
    <input type="text" name="Username" placeholder="Enter your username"/>
    <input type="submit"/> 
</form>
<table border = '1'>
    <tr>
        <td>Reservation ID</td>
        <td>GymName</td>
        <td>Start Time</td>
        <td>End Time</td>
        <td>Day</td>
        <td>Month</td>
        <td>Year</td>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.ReservationID}}</td>
        <td>{{item.GymName}}</td>
        <td>{{item.StartTime}}</td>
        <td>{{item.EndTime}}</td>
        <td>{{item.Day}}</td>
        <td>{{item.Month}}</td>
        <td>{{item.Year}}</td>
    </tr>
    {% endfor %}
</table>

</center>