<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<center><h1>Gyms</h1></center>
<nav>
    <ul>
        <li>
            <a href="/home">Home</a>
            <a href="/gyms">Gyms</a>
        </li>
    </ul>
</nav>
<center>
    <a href ="/addgym">Add A Gym</a>
<form method = "POST">
    <input type="text" name="gymname" placeholder="Search by Gym Name..."/>
    <select name="university" id="university" required>
        <option value="">--Please choose an option--</option>
        <option value="University of Illinois">University of Illinois</option>
        <option value="Rutgers">Rutgers</option>
        <option value="Northwestern">Northwestern</option>
        <option value="Purdue">Purdue</option>
        <option value="Ohio State">Ohio State</option>
        <option value="Penn State">Penn State</option>
        <option value="Michigan State">Michigan State</option>
        <option value="John Cena University">John Cena University</option>
        <option value="University of Indiana">University of Indiana</option>
        <option value="University of Iowa">University of Iowa</option>
        <option value="University of Maryland">University of Maryland</option>
        <option value="University of Michigan">University of Michigan</option>
        <option value="University of Minnesota">University of Minnesota</option>
        <option value="University of Nebraska">University of Nebraska</option>
        <option value="University of Wisconsin">University of Wisconsin</option>
        </select>
    <input type="submit"/> 
</form>
<table border = '1'>
    <tr>
        <td>GymID #</td>
        <td>Gym Name</td>
        <td>University</td>
        <td>Capacity</td>
        <td>Status</td>
        <td>Update Gym</td>
        <td>Remove Gym</td>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.GymID}}</td>
        <td>{{item.GymName}}</td>
        <td>{{item.University}}</td>
        <td>{{item.Capacity}}</td>
        <td>{{item.Status}}</td>
        <td>
            <a href ="/updategym/{{item.GymID}}">Edit</a>
        </td>
        <td>
            <a href ="/removegym/{{item.GymID}}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</table>

</center>