<center><h1>Physical Data</h1></center>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/PhysicalData">Physical Data</a>
        </li>
    </ul>
</nav>
<center>
    <a href ="/addPhysicalData">Add Physical Data</a>
    <a href ="/updatePhysicalData">Update Physcal Data</a>
    <a href ="/removePhysicalData">Remove Physical Data</a>
<form method = "POST">
    <input type="text" name="Username" placeholder="Search by Username..."/>
    <input type="submit"/> 
</form>
<table border = '1'>
    <tr>
        <td>Username</td>
        <td>Last Muscle Group</td>
        <td>Injury</td>
        <td>Last Recorded</td>
        <td>Work Split</td>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.Username}}</td>
        <td>{{item.LastMuscleGroup}}</td>
        <td>{{item.Injury}}</td>
        <td>{{item.LastRecorded}}</td>
        <td>{{item.WorkSplit}}</td>
    </tr>
    {% endfor %}
</table>

</center>