<center><h1>Update a User</h1></center>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/users">Go Back To Users</a>
        </li>
    </ul>
</nav>
<center>
<form method = "POST">
    <input type="text" name="firstname" placeholder="First Name"/>
    <input type="text" name="lastname" placeholder="Last Name"/>
    <input type="text" name="email" placeholder="Email Address"/>
    <input type="text" name="university" placeholder="University"/>
    <input type="text" name="username" placeholder="Username"/>
    <input type="text" name="password" placeholder="Password"/>
    <input type="text" name="covidstatus" placeholder="Do you have Covid?"/>
    <input type="submit"/> 
</form>

</center>