<center><h1>Update a Progress</h1></center>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/progress">Go Back To Progress</a>
        </li>
    </ul>
</nav>
<center>
<form method = "POST">
    <input type="text" name="progressid" placeholder="Enter ProgressID"/>
    <input type="text" name="exercise" placeholder="New Exercise Name"/>
    <input type="text" name="set_size" placeholder="New Set Size"/>
    <input type="text" name="exercise_stat" placeholder="New Exercise Stat"/>
    <input type="submit"/> 
</form>

</center>